<h2>Garden: <%= link_to @garden_plant.garden.name, @garden_plant.garden %></h2>

<%= render partial: 'plants/plant', :locals => {:plant => @garden_plant.plant} %>

<p> Planted On: <%= normalize_time(@garden_plant.created_at) %> </p>
<p>Last Watered: <%= normalize_time(@garden_plant.last_watered) %></p>

<%= overdue_notice(@garden_plant) %>

<p><%= link_to "Water Plant", water_plant_path(@garden_plant.garden, @garden_plant) %></p>