<%= display_sign_up %>
<%= display_sign_in %>
<%= gardens_link %> <br> 
<%= plants_link %> 

<br><br>

<%= content_tag(:div, flash[:error], :id => "flash_error", :class => "field_with_errors") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert", :class => "field_with_errors") if flash[:alert] %>

<!-- <p class="notice"><%= notice %></p> -->
<!-- <p class="alert"><%= alert %></p> -->

