<!DOCTYPE html>
<html>
  <head>
    <title>Succulence App - Or How I Learned to Stop Worrying and Care for my Plants</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2> Succulence </h2>
    <%= render "layouts/header" %>
  	
    <%= yield %>
    
    <%= render "layouts/footer" %>
  </body>
</html>
